In [4]:
import pandas as pd

In [5]:
url = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/salud/casos-covid-19/casos_covid19.csv'
#data = pd.read_csv('casos_covid19.csv')
data = pd.read_csv(url)

/home/santiago/anaconda3/envs/dhdsblend/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (10,11,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data.tail(5)

,numero_de_caso,fecha_apertura_snvs,fecha_toma_muestra,fecha_clasificacion,provincia,barrio,comuna,genero,edad,clasificacion,fecha_fallecimiento,fallecido,fecha_alta,tipo_contagio
1938705,7086309,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,CABA,RECOLETA,2.0,femenino,29.0,descartado,NaN,NaN,NaN,NaN
1938706,7086310,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,CABA,NUÑEZ,13.0,masculino,38.0,descartado,NaN,NaN,NaN,NaN
1938707,7086311,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,Misiones,NaN,NaN,masculino,28.0,descartado,NaN,NaN,NaN,NaN
1938708,7086312,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,Buenos Aires,NaN,NaN,femenino,26.0,descartado,NaN,NaN,NaN,NaN
1938709,7086313,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,31JAN2021:00:00:00.000000,CABA,MONSERRAT,1.0,masculino,30.0,descartado,NaN,NaN,NaN,NaN

In [7]:
data[data['provincia']=='CABA']

,numero_de_caso,fecha_apertura_snvs,fecha_toma_muestra,fecha_clasificacion,provincia,barrio,comuna,genero,edad,clasificacion,fecha_fallecimiento,fallecido,fecha_alta,tipo_contagio
0,2603259,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,CABA,PARQUE PATRICIOS,4.0,masculino,40.0,confirmado,NaN,NaN,21SEP2020:00:00:00.000000,Comunitario
1,2603403,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,CABA,PARQUE PATRICIOS,4.0,femenino,36.0,confirmado,NaN,NaN,21SEP2020:00:00:00.000000,Comunitario
2,2603962,14SEP2020:00:00:00.000000,11SEP2020:00:00:00.000000,11SEP2020:00:00:00.000000,CABA,MONSERRAT,1.0,masculino,35.0,confirmado,NaN,NaN,21SEP2020:00:00:00.000000,En Investigación
5,2605953,14SEP2020:00:00:00.000000,12SEP2020:00:00:00.000000,12SEP2020:00:00:00.000000,CABA,BARRACAS,4.0,femenino,57.0,confirmado,NaN,NaN,21SEP2020:00:00:00.000000,Comunitario
6,2606175,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,14SEP2020:00:00:00.000000,CABA,FLORES,7.0,femenino,38.0,confirmado,NaN,NaN,21SEP2020:00:00:00.000000,En Investigación
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391972,3345045,12OCT2020:00:00:00.000000,10OCT2020:00:00:00.000000,10OCT2020:00:00:00.000000,CABA,MATADEROS,9.0,femenino,55.0,descartado,NaN,NaN,NaN,NaN
1391973,3345048,12OCT2020:00:00:00.000000,10OCT2020:00:00:00.000000,10OCT2020:00:00:00.000000,CABA,PALERMO,14.0,femenino,38.0,descartado,NaN,NaN,NaN,NaN
1391979,3351843,12OCT2020:00:00:00.000000,11OCT2020:00:00:00.000000,13OCT2020:00:00:00.000000,CABA,CABALLITO,6.0,femenino,33.0,descartado,NaN,NaN,NaN,NaN
1391981,3351857,12OCT2020:00:00:00.000000,12OCT2020:00:00:00.000000,12OCT2020:00:00:00.000000,CABA,VILLA DEVOTO,11.0,femenino,79.0,descartado,NaN,NaN,NaN,NaN
1391982,3351859,12OCT2020:00:00:00.000000,11OCT2020:00:00:00.000000,12OCT2020:00:00:00.000000,CABA,COLEGIALES,13.0,masculino,61.0,descartado,NaN,NaN,NaN,NaN

In [8]:
data.fallecido.value_counts()

si    9944
Name: fallecido, dtype: int64

In [13]:
data.fecha_alta.isnull().mean()

0.9432465556406459